@page
@model RockPaperScissors.Pages.gameSetUpModel
@{
}

<div class="set-up-form">
	<h2>Select a game mode</h2>
	<br />
	<a id="btnMeVComp" class="mode-buttons" asp-area="" asp-page="/playGame">Me vs. The Computer</a>
    <a id="btnCompVComp" class="mode-buttons" asp-area="" asp-page="/computerGame">The Computer vs. The Computer</a>
</div>