@page
@model RockPaperScissors.Pages.IndexModel
@{
	ViewData["Title"] = "Home";
}

<div class="container">
	<br />
	<div class="centre-Txt"><h2>Welcome to the Rock Paper Scissors Game!</h2></div>
	<br />
	<br />
	<div id="startBtnContainer" class="start-btn-container" style="text-align:center">
		<a id="btnHome" class="set-up-buttons" asp-area="" asp-page="/gameSetUp">Choose game mode</a>
	</div>
</div>